/* App.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sides{
  padding-left: 10%;
  padding-right: 10%;
}
.app {
  text-align: center;
  padding: 20px;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

/* Input Page */
.input-page {
  background-color: #fff;
  padding: 20px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 600px;
}

.input-page h2 {
  color: #555;
  margin-bottom: 15px;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
  font-size: 16px;
  resize: none;
}

input[type="file"] {
  display: block;
  margin-bottom: 15px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

/* View Page */
.view-page {
  background-color: #fff;
  padding: 20px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 800px;
}

.view-page h2 {
  color: #555;
  margin-bottom: 15px;
}

.perspective-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.perspective-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  background: #f9f9f9;
}

.text-content {
  margin-bottom: 10px;
  color: #333;
}

.media-content img,
.media-content video {
  max-width: 100%;
  height: auto;
  border-radius: 6px;
  margin-bottom: 10px;
}

.timestamp {
  font-size: 12px;
  color: #888;
  margin-bottom: 10px;
}

.actions button {
  margin-right: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.actions button:hover {
  background-color: #0056b3;
}

.actions button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.comment {
  padding: 5px;
  margin-bottom: 5px;
  background: #eaeaea;
  border-radius: 5px;
}
.comment-input input {
  flex: 1;
  margin-right: 5px;
  padding: 5px;
} 
.comment-input {
  display: flex;
  align-items: center;
  margin-top: 10px;
} 
.actions button:hover {
  background-color: #0056b3;
}
.preview-container {
  width: 100%;
  max-width: 400px;  
  margin: 20px 0;
}

.preview-media {
  width: 100%;  
  height: auto;   
  object-fit: contain; 
}

nav {
  padding: 10px;
  background-color: #f4f4f4;
  border-bottom: 1px solid #ccc;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #007BFF;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}
